@import "bootstrap/dist/css/bootstrap.css";


/*body{*/
/*  background-color: #262A56;*/
/*}*/


.row{
  margin: 3rem;
}

.header{
  background-color: #B8621B;
  margin-bottom: 5rem;
  padding: 2rem;
  position: sticky;
}

.myNavBar{
  position: sticky;
}

